.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
}

::ng-deep.selected-elem-with-color {
  padding-bottom: 0.25rem;
  font-size: 1.25rem;
  border-bottom: 1px solid black;
}
