.card-item {
  margin: 20px 0px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.card-item-index {
  padding-right: 20px;
}

.card-item-body {
  margin: 0 20px;
  display: flex;
  min-width: 125px;
  justify-content: space-between;
  align-items: center;
}

