<li class="card-item">
  <div class="card-item-body">
    <span class="card-item-index">{{index + 1}}.</span>
    <span appAppHighLightBg [appAppSelectElemWithColor]="'#ff4081'">{{purchase.name}}</span>
    <div class="card-item-body">
      <button mat-mini-fab color="primary" (click)="onMinusCount(purchase.id)" [disabled]="!this.purchase.count">-</button>
      <span>{{purchase.count}}</span>
      <button mat-mini-fab color="primary" (click)="onAddCount(purchase.id)">+</button>
    </div>
    <span>
      <button mat-mini-fab color="accent" (click)="onDeleteCardItem(purchase.id)">Х</button>
    </span>
  </div>
</li>
